@import "./styles/mixins";

.layout {
  @include col;
  @include page;
  @include space;
  justify-content: center;
  max-width: 560px;
  margin: auto;

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    width: 500px;
  }
}
